<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Yet another URL shortener</title>
  <meta name="description" content="Yet another URL shortener">
  <meta name="author" content="Pynchia">
</head>
<body>

  <h2>Please type your substring below</h2>
  <form id="id_search_form" enctype="multipart/form-data" method='GET' action=''>
   {{ view.form.as_p }}
   <p>
    <input type="submit" name="submit" id="submit" value="Submit"/>
   </p>
  </form>
 
  {% if matching_urls %}
  <h2>{{ page_obj.paginator.count }} total matches present in the system:</h2>
  <ul id="id_url_list">
  {% for entry in matching_urls %}
   <li>
    <p>URL: <a href="{{ entry.url }}">{{ entry.url }}</a></p>
    <p>short URL: <a href="{{ entry.get_link }}">{{ entry.get_link }}</a></p>
    <p>Created on: {{ entry.created_on }}</p>
    <p>Num.hits: {{ entry.num_hits }}</p>
   </li>
  {% endfor %}
  </ul>
  {% endif %}
  {% if page_obj.paginator.num_pages > 1 %}
  <div class="pagination">
   Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}&nbsp
   {% if page_obj.has_previous %}
   <a href="?page=1&substring={{ view.form.substring.value }}">first</a>
   <a href="?page={{ page_obj.previous_page_number }}&substring={{ view.form.substring.value }}">prev.</a>
   {% endif %}
   {% if page_obj.has_next %}
   <a href="?page={{ page_obj.next_page_number }}&substring={{ view.form.substring.value }}">next</a>
   <a href="?page={{ page_obj.paginator.num_pages }}&substring={{ view.form.substring.value }}">last</a>
   {% endif %}
  </div>
  {% endif %}
  <br>

</body>
</html>
